* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    padding: 20px;
    background-color: #ad18a6;
    }
    .container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    }
    .card {
    transform-style: preserve-3d;
   background-color: #108999;
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 3rem 2rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    }
    .sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .sneaker img {
    width: 16rem;
    height: 16rem;
    border-radius: 100%;

    z-index: 2;
    transition: all 1s ease-out;
    }
    .circle {
    margin-top: 20px;
    width: 14rem;
    height: 14rem;
    background: linear-gradient(
    to right,
    rgba(102, 101, 101, 0.75),
    rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    }
    .info h1 {
    font-size: 2.5rem;
   
    transition: all 0.75s ease-out;
    }
    .info  {
       text-align: center;
        }
    .info h3 {
    font-size: 1rem;
    
    color: black;
    font-weight: lighter;
    transition: all 0.75s ease-out;
    }
    .title {
   font-size: 10px;
   font-weight:200;
    }

   

    .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
    }
    button.active {
    background: #585858;
    color: white;
    }
    .purchase {
    margin-top: 2rem;
    transition: all 0.75s ease-out;
    }
    .purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: #768fff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    }

    